
  <div class="media">
     <div class="media-body">
       <h5 class="col-md-12 record-data"><%= link_to sport.sportName, athlete_sport_path(@athlete, sport) %> -
         <%= sport.active ? "Active" : "Inactive" %></h5>
     </div>
  </div>
