
  <div class="media">
     <div class="media-body">
       <p class="record-data"><%= link_to sport.sportName, athlete_sport_path(@athlete, sport) %> -
         <%= sport.active ? "Active" : "Inactive" %></p>
     </div>
  </div>
  
