<h3>Edit Active for Sport</h3>


    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= render partial: 'editSportForm', locals: { sport: @sport } %>
          </h4>
        </div>
      </div>
    </div>
