<div class="record-data col-md-12">
  <h3><%= "#{ @sport.athlete.firstName + ' ' + @sport.athlete.middleName + ' ' + @sport.athlete.lastName + ' '}"%> <span class="closed-to-view"><%= "#{ " - Edit - " }"%></span> <span class="sport-names"><%= "#{ @sport.sportName + ' ' }"%></span></h3>
  <h4 class= "gray-text">(To Finalize Changes Push the Save Button at the Bottom of the Page)</h4>
</div>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= render partial: 'editSportForm', locals: { sport: @sport } %>
        </h4>
      </div>
    </div>
  </div>
