<div class="record-data col-md-12">
  <h3><%= "#{ @sport.athlete.firstName + ' ' + @sport.athlete.middleName + ' ' + @sport.athlete.lastName + ' ' + " - Edit - " + ' ' + @sport.sportName + ' ' }"%></h3>
</div>
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= render partial: 'editSportForm', locals: { sport: @sport } %>
        </h4>
      </div>
    </div>
  </div>
