<h1>New Sport</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= render partial: 'newSportForm', locals: { sport: @sport } %>
          </h4>
        </div>
      </div>
    </div>
  </div>
