<h1 class= "record-division">Athlete Data</h1>
<h4 class= "gray-text">(To Finalize Changes Push the Save Button at the Bottom of the Page)</h4>

<%= render 'newAthleteForm', athlete: @athlete %>

<%= link_to 'Back', athletes_path %>
