<h1>All Athletes</h1>

  <% @athletes.each do |athlete| %>
    <div class="media">
       <div class="media-body">
         <h4 class="media-heading">
           <p><%= link_to "#{ athlete.firstName + ' ' + athlete.middleName + ' ' + athlete.lastName }", athlete %></p>
         </h4>
       </div>
    </div>   
  <% end %>
