<h1 id="index-master-title">Welcome to GetRecruited</h1>
<p id="index-title">This is the home page for GetRecruited.</p>
<div class="athletes">Athlete 1 goes here.</div>
<section>I am the content in a section element.</section>
