<h1 id="index-master-title">Welcome to GetRecruited</h1>
<p id="index-title">To begin sign in or sign up then click my athletes.</p>
<div class="athletes">Jade's stuff will go here.</div>
<section>To begin sign in or sign up then click my athletes</section>
