<div class="media">
   <div class="media-body">
     <h5 class="col-md-1 record-title"><%= "#{ 'Email:' }"%></h5> <h5 class="col-md-3 record-data"><%= "#{ @athlete.contact.email  }"  %></h5>
     <h5 class="col-md-1 record-title"><%= "#{ 'Phone:' }"%></h5> <h5 class="col-md-7 record-data"><%= "#{ @athlete.contact.phone  }" %></h5>
   </div>
</div>
