<div class="media">
   <div class="media-body">
     <h5 class="col-md-2 record-title"><%= "#{ "Sibling's" }"%></h5> <h5 class="col-md-10 record-data"><%= "#{ @athlete.sibling.siblingNames  }"  %></h5>
   </div>
</div>
