.sport-names {
  color: green;
}

.button-top {
  padding-top: 20px;
}

.btn-orange {
  background-color: orange;
  color: blue;
}

.open-to-view {
  color: green;
}

.closed-to-view {
  color: red;
}

.gray-text {
  color: #bfbfbf;
}

.gray-text-dark {
  color: #999999;
}
