.social-btn {
  color: #00aced;
  height: 40px;
  padding: 5 5 5 5;
  width: 100px;
  text-align: center;
}

#index-title {
  text-align: center;
  font-size: 15px;
  color: black;
}

#index-master-title {
  text-align: center;
  color: blue;
}

h1 {
  color: red;
}

section {
  background: #5998ff;
  border-style: solid;
  border-width: 5px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.athletes {
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 200px;
 }
